{% extends 'nft_admin/index.html' %}
{% block content %}
<div class="container-fluid">
    <!-- DRAG/DROP COLUMNS REORDER -->
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">NFT Transaction Management</h3>
        </div>
        <form method="get" style="margin-left:15px;margin-top:10px">
            {{ myfilter.form }}
            <button class="btn btn-primary btn-sm" type="submit">Search</button>
        </form>
        <div class="panel-body">

            <table id="datatable-column-reorder" class="table table-hover table-bordered">
                <thead>

                <tr>
                    <th>Buyer</th>
                    <th>Seller</th>
                    <th>NFT</th>
                    <th>Wallet</th>
                    <th>Sold Price</th>
                    <th>Sold Date</th>
                    <th>Service Fee</th>
                    <th>Is Removed</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for nft_transaction in obj %}
                <tr>
                    <td>{{ nft_transaction.buyer }}</td>
                    <td> {{ nft_transaction.seller }}</td>
                    <td> {{ nft_transaction.nft}}</td>
                    <td>{{ nft_transaction.wallet }}</td>
                    <td>{{ nft_transaction.sold_price }}</td>
                    <td>{{ nft_transaction.sold_date }}</td>
                    <td>{{ nft_transaction.service_fee }}</td>
                    <td>{{ nft_transaction.is_removed }}</td>
                    <td>
                        <button class="btn btn-danger"><a style="text-decoration:none; color:white"
                                                          href="{% url 'bidding:transaction-delete' nft_transaction.id %}">
                            <i class="fa fa-trash"></i>Delete</a>
                        </button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div style="margin-left:10px">
                {% if obj.has_previous %}
                <a href="?page=1" class="btn btn-success btn-sm">&laquo; First</a>
                <a href="?page={{obj.previous_page_number}}" class="btn btn-success btn-sm">Previous</a>
                {% endif %}
                page{{obj.number}} of {{obj.paginator.num_pages}}

                {% if obj.has_next %}
                <a href="?page={{obj.next_page_number}}" class="btn btn-success btn-sm">Next</a>
                <a href="?page={{obj.paginator.num_pages}}" class="btn btn-success btn-sm">Last &raquo;</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endblock %}